.middle{
    position: relative;
}

.middle::before{
    left: 50%;
    transform: translateX(-50%);
}

.orange-inverse{
    background: var(--accent-clr);
    color: var(--background-clr);
    border: .1rem solid var();
}

.p-bottom-1{
    padding-bottom: 1rem;
}


