.profile{ 
    width: 5rem; 
    aspect-ratio: 1; 
    border-radius: 100vw; 
    overflow: hidden; 
} 

.profile img{
     width: 100%; 
     height: 100%; 
     object-fit: cover; 
    } 
    
.rating-star{ 
    font-size: 1.2rem; 
    color: var(--accent-clr); 
    margin-right: .3rem;
} 

.slick-next::before, 
.slick-prev::before{ 
    display: none;
} 

.slick-dots li button::before{ 
    font-size: 1.3rem !important; 
    color: var(--text-secondary-clr) !important; 
} 

.slick-dots li.slick-active button::before { 
    color: var(--accent-clr) !important; 
} 

.slick-dots{ 
    bottom: -50px !important; 
} 

.slick-slide{ 
    padding-inline: 40px; 
} 

.slick-list{ 
    margin-inline: -40px; 
} 

@media (max-width: 790px) { 
    .slick-slide {
      padding-inline: 0px !important;
  }

  .slick-list {
      margin-inline: 0px !important;
  } 
}