@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --background-clr: #080808;
  --surface-clr: #141414;
  --text-primary-clr: #FFF;
  --text-secondary-clr: #b1b1b1;
  --accent-clr: #FF8C00;
}

[data-theme = 'light']{
  --background-clr: #fff;
  --surface-clr: #F5F5F5;
  --text-primary-clr: #080808;
  --text-secondary-clr: #333;
}

body{
  background: var(--background-clr);
  overflow-x: hidden !important;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.between{
  justify-content: space-between;
}

.center{
  justify-content: center;
}

.wrapper{
  max-width: 1400px;
  margin: auto;
  padding-inline: 2rem;
}

img{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.p-block-9{
  padding-block: 9rem;
}


.text-center{
  text-align: center;
}

.bg-header{
  padding: 1.5rem;
  background-image: url('../src/assets/background1.jpeg');
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.mt-1{
  margin-top: 1rem;
}

.icon-container{
    color: var(--background-clr);
    background: var(--accent-clr);
}



@media screen and (max-width: 768px){
      .p-block-9{
        padding-block: 7rem;
      }
}